{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark text-light align-items-center justify-content-evenly">
                <h1 class="col text-center">Space Corp</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="d-flex align-items-center justify-content-center">
            <img src="../../static/images/undraw_outer_space_re_u9vd.svg" alt="Outspace">
        </div>
    </div>
</section>
{% if current_user.is_authenticated %}
<section class="bg-light text-center">
    <div class="container p-5">
        <h2>Space suits in {{ user_first_name }}'s Collection:</h2>
        <ul>
            {% for spacesuit in spacesuits %}
                <li>{{ spacesuit.name }} - {{ spacesuit.make }} - {{ spacesuit.model }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

{% endblock %}