{% extends "base.html" %}


{% block content %}
<section>
    <section>
        <div class="container justify-content-center align-items-center" style="padding-top: 5% ;">
            <h4>Welcome to Space Corp! Here at Space Corp we are responsible for the collection of data from astronauts all over the world! We collect and store the data of the gear
                that was used on their missions and display it for them when they log in! It allows for those who signed up to be able to get access to their space suits for future missions
                of exploration as well. This corporation is set to expand further and further beyond in these next few years of the 2200's. Come sign up and see what were all about!
            </h4>
        </div>
        <div class="container justify-content-center align-items-center" style="padding-left: 30% ;">
            <img src="../../static/images/undraw_taken_re_yn20.svg" alt="aliens!">
        </div>
    </section>
</section>
{% endblock %}